:80 {
    encode gzip

    @cine_api {
        path /api/cine/*
    }

    handle @cine_api {
        uri strip_prefix /api/cine
        reverse_proxy cine-api:3000
    }

    handle {
        reverse_proxy cid-web:3000
    }
}
